<main>
  <app-hero-header
    imageUrl="https://images.ctfassets.net/kftzwdyauwt9/3cSZykppt940Q5vMHjbYd8/f111f0645166996fd77bd543d4cfd238/spring_updates.jpg?w=3840&q=90&fm=webp"
  >
    <h1>Crafting Digital Dreams</h1>
    To help make your life a little better.
    <app-call-to-action-button goTo="mailto:bytebury@gmail.com">
      Get In Touch
    </app-call-to-action-button>
  </app-hero-header>
  <section id="Homepage_About" class="container">
    <h1>Local Inspiration, Global Influence</h1>
    <p>
      Based in a small town in Connecticut, Bytebury crafts online solutions
      that resonate globally. From local enterprises to broader communities, our
      tailored web-development services are designed for everyone. Experience
      the fusion of hometown warmth and universal appeal as your digital dreams
      come to life. Bytebury has left impressions on tens-of-thousands of
      individuals in over 70 countries world-wide.
    </p>
  </section>
  <section id="Homepage_Meet_Me" class="meet-marcello container">
    <img
      width="128px"
      height="128px"
      src="https://avatars.githubusercontent.com/u/104793781?v=4"
      alt="Marcello's Profile Image"
    />
    <div>
      <h1>👋🏼 Meet Marcello</h1>
      <p>
        I'm Marcello, a practical stoic, runner, and software engineer with over
        15 years of experience in creating websites. I am the founder of
        Bytebury. I started this company as a hobby from of a passion for
        helping everyday people thrive in the digital landscape.
      </p>
      <p>
        At Bytebury, we help make your software dreams a reality. We're open to
        collaborate on a website that will help drive results. Reach out today
        to start your journey with us.
      </p>
    </div>
  </section>
  <section id="Homepage_Testimonials" class="testimonials">
    <div class="container">
      <h1>Voices of Success <i class="bi bi-quote"></i></h1>
      <p>
        We take immense pride in the success stories that our clients graciously
        share. Here's what some of them have to say about their experiences
        collaborating with us:
      </p>
    </div>
    <div class="container testimonial-cards">
      <app-testimonial reviewerName="Rachael" applicationName="Fun Banking">
        I work with special needs students and wanted to teach them how to
        manage their money through a reward program that resembled a bank, so
        that they can be ready for "the real world". I use it every day.
      </app-testimonial>
      <app-testimonial reviewerName="Jamie" applicationName="Fun Banking">
        I searched forever to find an application like this for our students — I
        love it!
      </app-testimonial>
      <app-testimonial reviewerName="Trey" applicationName="Run169">
        I needed a better way to track my progress on 169 and create a community
        around it. I know the owner, and reached out and love the website he
        made.
      </app-testimonial>
    </div>
  </section>
  <section id="Homepage_Socials" class="container connect-with-us">
    <h1>Let's Connect</h1>
    Feel free to send us a message on any platform
    <ul>
      <li>
        <a
          href="https://github.com/bytebury"
          aria-label="Visit GitHub Profile"
          target="_blank"
        >
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li>
        <a
          href="https://x.com/bytebury"
          aria-label="Twitter Profile"
          target="_blank"
        >
          <i class="bi bi-twitter-x"></i>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/marcellosabino"
          aria-label="LinkedIn Profile"
        >
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:hey@bytebury.com" aria-label="E-mail us">
          <i class="bi bi-send"></i>
        </a>
      </li>
    </ul>
  </section>
</main>
