@import "colors";
@import "sizing";

:host {
  background: $white;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);

  h1 {
    font-size: 1.15rem;
  }

  span {
    font-size: 0.85rem;
    color: $primary;
  }
}
