/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

$borderWidth: 3px;

@layer base {
  h1,
  h2,
  h3 {
    @apply font-extrabold;
  }
}

html,
body {
  @apply flex h-full flex-col;
}

html {
  @apply font-sans leading-6 text-gray-800;
}

body {
  padding-top: 55px;
  @apply m-0 gap-4;
}

footer {
  @apply mt-auto;
}

main {
  a:link,
  a:visited {
    @apply text-primary underline;
  }

  a:active {
    @apply text-primary-darker;
  }

  a:hover {
    @apply text-primary-dark;
  }

  .gradient-border.cta {
    @apply inline-block text-center font-bold text-gray-800 no-underline;

    &:hover {
      @apply underline;
    }
  }
}

.gradient-border {
  position: relative;
  border-radius: $borderWidth;
  z-index: 0;

  div {
    border-radius: $borderWidth;
    @apply px-5 py-3;
  }
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * $borderWidth);
  left: calc(-1 * $borderWidth);
  height: calc(100% + $borderWidth * 2);
  width: calc(100% + $borderWidth * 2);
  background: linear-gradient(60deg, #6bceff, #c398fc, #0069dc);
  border-radius: calc(2 * $borderWidth);
  z-index: -1;
  animation: animated-gradient 2s linear alternate infinite;
  background-size: 200% 200%;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 25% 0%;
  }

  50% {
    background-position: 50% 0%;
  }

  75% {
    background-position: 75% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}
